html{
    text-align: center;
    display: grid;    
    padding-top: 0;
    font-family: "Merriweather", serif;
    font-weight: 300px;
    font-style: oblique;
    margin: 0;
    height: 100vh;
    background: url(IMG/fondo.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

h1, h2, h3{
    text-align: center;
}

.logo{
    width: 0x;
    height: 0px;
    background: url(IMG/LOGO.jpg);
    background-size: cover;
    padding-left: 550px;
    align-items: center;
}

.logoo{
    width: 0x;
    height: 65px;
    background: url(IMG/LOGO.jpg);
    background-size: cover;
    padding-left: 450px;
}

.whatsapp{
    width: 65x;
    height: 65px;
    background: url(IMG/LOGO.jpg);
    background-size: cover;
    padding-left: 450px;
    align-items: center;
    color: #00338D;
}

.saludsa-logo{
    padding-left: 560px;
    display: flex;
    background-size: cover ;
}

.plan{
    background: url(IMG/LOGO.jpg);
    padding-right: 1005px;
    flex-direction: column;
    background-size: cover;
}

.titulo{
    display: block;
    width: 0x;
    height: 0px;
}

.azul{
    color: #00338D;
}

.azul-2{
    color: #0073CF;
}
.rojo{
    color: rgb(187, 17, 17);
}

.ver-mas{
    width: 100px;
    height: 50px;
}

#plan-dental{
    display: contents;
}

.plan-dental{
    padding-top: 25px;
}


@media (max-width: 1024px) {
    .logo, .logoo, .whatsapp {
        padding-left: 350px;
        padding-top: 20px;
    }
    .saludsa-logo {
        padding-left: 420px;
    }
    .yo{
        width: 360px;
    }
    .plan {
        padding-right: 729px;
    }
    .titulo{
        display: contents;
    }
    .plan{
        display: contents;
        padding-top: 20px;
    }
    .whatsapp{
        display: flexbox;
        padding-right: 355px;
    }
    .logo, .logoo{
        display: contents;
        flex-direction: column;
        align-items: center;
        padding-top: 500px;
    }
}

@media (max-width: 768px) {
    .contenedor {
        display: contents;
        flex-direction: column;
        align-items: center;
    }
    .titulo, .plan {
        order: 2;
    }
    .logo, .logoo, .whatsapp, .saludsa-logo {
        order: 1;
    }
}

@media (max-width: 480px) {
    .contenedor {
        display: contents;
        flex-direction: column;
        align-items: center;
    }
    .titulo, .plan {
        order: 2;
    }
    .logo, .logoo, .whatsapp, .saludsa-logo {
        order: 1;
    }
}


